<!DOCTYPE html>
<html>
  <head>    
  </head>
  <body>
    <h1> Currently tracked trainees </h1>
    <ul>
      <% @tracked_trainees.each do |t| %>
        <%= render 'trainees/trainee_list_item', t: t %>
      <%end%>
    </ul>
    <%= link_to 'All Trainees', trainees_path %>
    <%= link_to 'Add A New Trainee', new_trainee_path %>
  </body>
</html>